
/* MAIN STYLE */

.container__fluid--style{
    background-color: #fecc01
}

/* HEADER FORM */

.img--style {
    width: 30px;
    float: left;
    padding-top:1.5em;
    padding-right: 0.3em;
  }

.h1__typeW--padding{
    padding-top:0.5em;
}

.form__search--width{
    width:90%!important;
}

@media screen and (max-width: 575px) {
    input::placeholder {
    font-size: 15px!important;
    }
}  

/* MOVIE DISPLAY */
.movie {
    margin-top: 50px;
    margin-bottom: 50px;

}

section {
    position: relative;
    //width: 100% ;
    // height:auto!important;
    display: flex !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    transition: 250ms all !important;
    padding: 1em;
    border-radius: 5px!important;
    background-color: #fecc01!important;
}

section .imageContainer {
    flex: 0 0 auto!important;
}

.imageContainer img {
    width: 20vw !important;
    height: auto!important;
}

.imageContainer {
    transition: 250ms all!important;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3)!important;
    // cursor: pointer!important;
    background-color: red;   
}


.imageContainer:hover {
    margin-left: 0 40px!important;
    transform: scale(1.1)!important;
    // cursor: pointer!important;
}